.holder {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  border: 3px solid black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0 auto;
}

.item {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-basis: calc(100% / 3);
}

.item-1 {
  flex-basis: 50%;
  background-color: tomato;
  border-top-left-radius: 45px;
}

.item-2 {
  background-color: aquamarine;
  order: 3;
}

.item-3 {
  background-color: blueviolet;
  order: 2;
}

.item-4 {
  background-color: darkgreen;
  order: 4;
}

.item-5 {
  flex-basis: 50%;
  background-color: darkgoldenrod;
  border-top-right-radius: 45px;
  order: 1;
}
